.search {
    border-radius: 4px !important;
}
.input-group-lg{
    width: 100% !important;
}
.css-1hwfws3{
height: 4.5rem;
    font-size: 14px !important;
line-height: 1.42857143 !important;
color: #333333 !important;
}
